<header id="topnav">
  <h1>
    {{ if .IsHome }}
      {{ .Site.Title }}
    {{ else }}
      <a href="{{ "/" | relURL }}">{{ .Site.Title }}</a>
    {{ end }}
    {{ with .Site.Params.github }}
    <a href="{{ . }}" target="_blank" class="social-icon" title="GitHub">
      <i class="fab fa-github"></i>
    </a>
    {{ end }}
    {{ with .Site.Params.x }}
    <a href="{{ . }}" target="_blank" class="social-icon" title="X">
      <i class="fab fa-x"></i>
    </a>
    {{ end }}
    {{ with .Site.Params.discord }}
    <a href="{{ . }}" class="social-icon discord-link" target="_blank" title="Discord">
      <i class="fab fa-discord"></i>
    </a>
    {{ end }}
  </h1>
</header>
<header id="project-nav">
    <h4>
        projects:
        <a href="https://freebirdxr.com" target="_blank" class="project-link" title="GitHub">freebird</a>,
        <a href="https://github.com/easydiffusion/easydiffusion" target="_blank" class="project-link" title="X">easy diffusion</a>
    </h4>
    <h4>
        hacks:
        <a href="https://github.com/cmdr2/carbon" target="_blank" class="project-link" title="GitHub">carbon editor</a>,
        <a href="https://github.com/easydiffusion/torchruntime" target="_blank" class="project-link" title="X">torchruntime</a>,
        <a href="https://findstarlink.com" class="project-link" target="_blank" title="Discord">findstarlink</a>
    </h4>
</header>
