<header>
  <h1>
    {{ if .IsHome }}
      {{ .Site.Title }}
    {{ else }}
      <a href="{{ "/" | relURL }}">{{ .Site.Title }}</a>
    {{ end }}
    {{ with .Site.Params.github }}
    <a href="{{ . }}" target="_blank" class="social-icon" title="GitHub">
      <i class="fab fa-github"></i>
    </a>
    {{ end }}
    {{ with .Site.Params.x }}
    <a href="{{ . }}" target="_blank" class="social-icon" title="X">
      <i class="fab fa-x"></i>
    </a>
    {{ end }}
    {{ with .Site.Params.discord }}
    <a href="{{ . }}" class="social-icon discord-link" target="_blank" title="Discord">
      <i class="fab fa-discord"></i>
    </a>
    {{ end }}
  </h1>
</header>
