{{ $ctx := .Context }}
{{ $pages := .Pages }}

<div class="post_list">
  {{ if gt (len $pages) 0 }}
    {{ $paginator := $ctx.Paginate ($pages.ByDate.Reverse) }}
    {{ range $paginator.Pages }}
      <article class="post">
        <time class="date"><a href="{{ .RelPermalink }}">{{ .Date.Format "Mon Jan 02 15:04 2006" }}</a></time>
        {{ with .Params.tags }}<ul class="tags">{{ range . }}<li class="tag">#{{ . }}</li>{{ end }}</ul>{{ end }}
        <p>{{ .Summary | plainify }}</p>
      </article>
    {{ end }}
    {{ template "_internal/pagination.html" $ctx }}
  {{ else }}
    <!-- no posts -->
  {{ end }}
</div>
