<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <title>{{ .Site.Title }}</title>

  <link rel="stylesheet" href="{{ "styles.css" | relURL }}?v={{ now.Unix }}">
  <link rel="alternate" type="application/atom+xml" href="{{ "atom.xml" | relURL }}" title="{{ .Site.Title }}">
  {{ block "head" . }}{{ end }}
</head>
<body>
  {{ partial "header.html" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "footer.html" . }}

  <script>
    const links = document.querySelectorAll('.discord-link');
    links.forEach(link => {
      link.addEventListener('click', function(event) {
        event.preventDefault();
        alert('{{ with .Site.Params.discordAlert }}{{ . | safeHTML }}{{ else }}Discord username not set{{ end }}');
      });
    });
  </script>
</body>
</html>
